:root{
    --all-background: #FFFFFF;
    --text-color: #2E2F42;
    --logo-first: #4d5ae5;
    --logo-second: #2e2f42;
    --text-header-normal: #2e2f42;
    --text-header-contacts-normal: #434455;
    --text-header-hover: #404BBF;
    --title-background: #2E2F42;
    --title-button-normal: #4D5AE5;
    --title-button-hover: #404BBF;
    --title-text: #FFFFFF;
    --main-background-first: #F4F4FD;
    --text-dark-background: #f4f4fd;
    --first-button-portfolio-normal: #F4F4FD;
    --first-button-portfolio-hover: #404BBF;
    --text-first-button-portfolio: #4d5ae5;
    --text-first-portfolio-hover: #FFFFFF;
    --positions-team:#434455;
    --footer-text: #F4F4FD;
    --first-inscription-cards: #2E2F42;
    --second--inscription-cards: #434455;
    --second-section-text: #434455;
    --second-section-titles: #2e2f42;
    --fourth-section-titles: #2e2f42;
    --tytles-h-ll: #2e2f42;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--all-background);
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
} 

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.link{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div{
    display: flex;
}

.nav{
    display: flex;
    align-items: center;
}

.header-ul-l{
    display: flex;
}

.header-ul-ll {
    display: flex;
    align-items: center;
}

header .list{
    gap: 40px;
}

.logo{
    color: var(--logo-first);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.span{
    color: var(--logo-second);
}

.portfolio-span {
    color: var(--logo-second);
}

.list{
    list-style: none;
}

.list-menu-header{
    color: var(--text-header-normal);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-menu-header:hover,
.list-menu-header:focus{
    color: var(--text-header-hover);
}

.list-menu-header:hover,
.list-menu-header:focus {
    color: var(--text-header-hover);
}

.current{
    position: relative;
    color: #404BBF;
    bottom: -1px;
}

.current::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background:#404BBF;
    bottom: 0px;
    left: 0;
    bottom: -1px;
}

.list-menu-header:hover,
.list-menu-header:focus {
    color: var(--text-header-hover);
}

.list{
    list-style: none;
}

.address{
    font-style: normal;
    margin-left: auto;
}

.list-contacts-header{
    color: var(--text-header-contacts-normal);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts-header:hover,
.list-contacts-header:focus {
    color: var(--text-header-hover);
}

.list-contacts-header:hover,
.list-contacts-header:focus {
    color: var(--text-header-hover);
}

.first-section{
    background-color: var(--title-background);
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-position: 50% 50%; 
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-first-section{
    color: var(--title-text);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 100%;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.first-section-button{
    background-color: var(--title-button-normal);
    color: var(--title-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-button:hover,
.first-section-button:focus{
    background-color: var(--title-button-hover);
}

.second-section{
    padding: 120px 0;
}

.background-icons-ll-section{
    position: relative;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color:  #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.l-list-ll-section{
    gap: 24px;
    display: flex;
}

.item-l-list-ll-section{
    width: calc((100% - 72px)/4);
}

.ll-list-ll-section>li{
    border: 1px solid #E7E9FC;
}

.second-section-titles{
    color: var(--second-section-titles);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.second-section-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--second-section-text);
}

.third-section{
    padding-bottom: 120px;
}

.tytles-h-ll{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--tytles-h-ll);
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.l-list-lll-section {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-l-list-lll-section{
    width: calc((100% - 48px)/3);
}

.fourth-section{
    background-color: var(--main-background-first);
    padding: 120px 0;
}

.l-list-llll-section{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.img-fourth-section{
    max-width: 264px;
    width:100%;
}

.list-icons-llll-section{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.background-icons-llll-section{
    position: relative;
    width: 40px;
    height: 40px;
}

.link-social-llll-section {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-llll-section:hover,
.link-social-llll-section:focus {
    background-color: #404bbf;
}

.icons-llll-section{
    fill:#f4f4fd;
}

.list-fourth-section{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px)/4);
}

.employee-data{
    padding: 32px 0;
}

.fourth-section-h-lll{
    color: var(--fourth-section-titles);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;    
    margin-bottom: 8px;
}

.fourth-section-p {
    color: var(--positions-team);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.fifth-section{
    padding: 120px 0;
}

.list-icons-fifth-section{
    display: flex;
    gap: 24px;
}

.background-icons-fifth-section{
    width: calc((100% - 24px*5)/6);
    height: 88px;
}

.link-icons-fifth-section{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icons-fifth-section:hover,
.link-icons-fifth-section:focus{
    border-color: #404bbf;
    color: #404bbf;
}

.svg-fifth-section{
    fill: currentColor;
}

.footer{
    background-color: var(--title-background);
    padding: 100px 0;
}

.all-footer{
    display: flex;
    align-items: baseline;
}

.logo-p-footer{
    margin-right: 120px;
}

.logo-footer{
    color: var(--logo-first);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.second-span {
    color: var(--text-dark-background);
}

.footer-p{
    color: var(--footer-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    width: 100%;
    max-width: 264px;
}

.p-ll-footer{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.list-icons-footer-section{
    display: flex;
    gap: 16px;
}

.background-icons-footer-section{
    width: 40px;
    height: 40px;
}

.link-social-footer-section{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.link-social-footer-section:hover,
.link-social-footer-section:focus{
    background-color: #31d0aa;
}

.icons-footer-section{
    fill: #f4f4fd;
}

.feedback{
    position: relative;
    margin-left: 80px;
}

.subscribe{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.form-footer{
    display: flex;
    gap: 24px;
}

.form-message-footer{
    border-radius: 4px;
    border: 1px solid #FFF;
    background-color: transparent;
    width: 264px;
    height: 40px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 8px 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-message-footer::placeholder{
    color: #FFFFFF;
}

.footer-button{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 0;
    left: 100%;
    margin-left: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: var(--title-button-hover);
}

.svg-footer-button{
    margin-left: 16px;
}

.backdrop{
    background-color: rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 100%;
    position: fixed;    
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-window{
    position: absolute;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #fcfcfc;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
    position: absolute;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    top:24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus{
    background-color: #404bbf;
    border: none;
    fill:#ffffff;
}

.close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal-window{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2E2F42;
    text-align: center;
    max-width: 360px;
    width: 100%;
    margin-bottom: 16px;
}

.ansver-modal-window{
    margin-bottom: 8px;
}

.form-ansver-modal-window{
    position: relative;
}

.label-modal-window{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.input-ansver-modal-window{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    padding: 0 10px 0 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-ansver-modal-window:focus{
    border-color: #4D5AE5;
}

.icon-ansver-modal-window {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-ansver-modal-window:focus + .icon-ansver-modal-window{
    fill: #4D5AE5;
}

.modal-textarea{
    margin-bottom: 16px;
}

.textarea-modal-window{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    margin-top: 4px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
}

.textarea-modal-window:focus {
    border-color: #4D5AE5;
}

.textarea-modal-window::placeholder{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.40);
}

.label-checkbox-modal-window{
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.all-checkbox{
    margin-bottom: 24px;
}

.link-checkbox{
    color: #4D5AE5;
}

.icon-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    margin-right: 8px;
    position: relative;
    vertical-align: bottom;
}

.checkbox:checked + .label-checkbox-modal-window .icon-checkbox{
    background-color: var(--title-button-hover);
    border: none;
    fill: var(--first-button-portfolio-normal);
}

.check-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.modal-button{
    min-width: 169px;
    max-height: 56px;
    height: 100%;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: var(--title-button-normal);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--title-text);
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--title-button-hover);
}





.first-section-portfolio{
    padding: 96px 0 120px 0;
}

.portfolio-l-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.first-button {
    background-color: var(--first-button-portfolio-normal);
    color: var(--text-first-button-portfolio);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-button:hover,
.first-button:focus{
    background-color: var(--first-button-portfolio-hover);
    color: var(--text-first-portfolio-hover);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-ll-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.item-portfolio-ll-list{
    width: calc((100% - 48px) / 3);
}

.link-portfolio-ll-list{
    display: block;
    transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio-ll-list:hover,
.link-portfolio-ll-list:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-overlay-portfolio{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.overlay-portfolio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #F4F4FD;
    padding: 40px 32px;
    transform: translateY(100%);
    z-index: 3;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio-ll-list:hover .overlay-portfolio,
.link-portfolio-ll-list:focus .overlay-portfolio{
    transform: translateY(0);
}

.application-data{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.title-text-cards-portfolio{
    color:var(--first-inscription-cards);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

.text-cards-portfolio{
    color: var(--second--inscription-cards);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}